body {
    margin: 0;
    padding: 0;
    background-color:#FAFAFA;
}
html {
    min-height: 100%;
    position: relative;
}
h2 {
    margin: 0;
    padding: 0;
}

/* Header */

.header-wrapper {

    width: 600px;
    margin: 100px auto 25px auto;
}

.first-header {
    text-align: center;
    font-family: "Poppins";
    font-weight: 10;
    font-size: xx-large;
    color: hsl(234, 12%, 34%);

}

.second-header {

    text-align: center;
    font-family: "Poppins";
    font-weight: 600;
    font-size: xx-large;
    color: hsl(234, 12%, 34%);


}

.header-content {

    text-align: center;
    font-family: "Poppins";
    color:hsl(229, 6%, 66%);

}


/* Content */
/* main */

.main-content {
    width: 1350px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}
.content-buffer {
    width: 85%;
    height: 200px;
    margin: auto;
    position: relative;
}

.content-image {
    width: 64px;
    height: 64px;
    position: absolute;
    bottom: 0;
    right: 0;

}

.body-heading, .body-copy {
    font-family: "Poppins";
    
}

.body-heading {
    color: hsl(234, 12%, 34%);
}

.body-copy {
   color: hsl(229, 6%, 66%);
   font-size: 15px;
}

.center-top, .center-bottom, .left, .right {

    background-color: white;
    margin: auto;
    width: 400px;
    height: 250px;
}

/* Left */

.left-column, .center-column, .right-column {
    height: 600px;
    width: 800px;
}

.left-column {

    display: flex;
    flex-direction: column;

}

.left {
    border-top: 3px solid hsl(180, 62%, 55%);
    border-radius: 5px;
    box-shadow: 0px 3px 5px 1px hsl(229, 6%, 66%);
}


/* Center */

.center-column {

    display: flex;
    flex-direction: column;

}

.center-top {
    border-top: 3px solid hsl(0, 78%, 62%);
    border-radius: 5px;
    box-shadow: 0px 3px 5px 1px hsl(229, 6%, 66%);

}

.center-bottom {
    border-top: 3px solid hsl(34, 97%, 64%);
    border-radius: 5px;
    box-shadow: 0px 3px 5px 1px hsl(229, 6%, 66%);
}


/* Right */

.right {
    border-top: 3px solid hsl(212, 86%, 64%);
    border-radius: 5px;
    box-shadow: 0px 3px 5px 1px hsl(229, 6%, 66%);
}

.right-column {
    display: flex;
    flex-direction: column;

}


/* Footer */

footer {
    position: absolute;
    width: 100%;
    bottom: 0px;
    
}

footer a {
    text-decoration: none;
    color: hsl(229, 6%, 66%);
    font-family: "Poppins";
}

footer p {

    text-align: center;
    color: hsl(229, 6%, 66%);
    font-family: "Poppins";

}





@media screen and (min-width: 901px) and (max-width: 1400px) {

.main-content {

    width: 95%;
    display: grid;
    grid-template-columns: 400px 400px;
    grid-template-areas: 
    "a b"
    "a b"
    "c b"
    "c b"   
    ;    

}



.left-column {
    grid-area: a;
}

.center-column {
    grid-area: b;
}

.right-column {
    grid-area: c;
}


.left-column, .right-column, .center-column {
    margin:0;
    height: auto;
    width: 400px;


}

.left, .right, .center-bottom, .center-top {

    margin:0;

}


}

@media screen and (min-width: 300px) and (max-width: 900px) {

.header-wrapper {
    width: 85%;
}

.main-content {
    width: 85%;
    flex-direction: column;
}

.left-column, .center-column, .right-column {

    width: 100%;
    height: auto;

}

.left, .right, .center-bottom, .center-top {

    margin-bottom: 25px;
    width: 400px;

}

.right {
    margin-bottom: 100px;
}


}


